@media screen and (max-width: 750px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    
    header {
        width: 100%;
    }
    
    #logo img {
        left: 0;
        width: 19%;
        height: 100px;
    }
    
    #nav {
        width: 50px;
        height: 50px;
        background-image: url("../img/menu-icon.png");
        background-size: 100% 100%;
        display: flex;
    }
    
    header > nav > ul > li {
        display: none
    }
    
    header > nav > ul > li > a {
        font-size: 1.25rem;
    }
    
    #logo {
        height: auto
    }
    
    #contact {
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        font-style: italic;
    }
    footer > nav > ul > li > a {
        font-size: .75rem;
    }
}
